<% provide(:title, session[:working_date]) %>

<% complete_items = @todos.where('is_complete = true') %>
<% incomplete_items = @todos.where('is_complete is null or is_complete = false') %>

<div class="row">
    <div class="col-md-12">
        <div class="pull-left"><h1><%= session[:working_date] %></h1></div>
        <div class="pull-right" style="margin-top:35px;"><%= link_to "Add a new item", new_todo_path, class: "btn btn-success" %></div>
    </div>
</div>

<div class='list-category'><%= incomplete_items.count %> INCOMPLETE</div>
<ul class="users">
    <% incomplete_items.each do |todo| %>
        <li id="todo_<%= todo.id %>">
            <%= link_to todo.subject, edit_todo_path(todo), class: 'lead' %>
            <% if todo.is_late? %>
                <span class="label label-danger">Late</span>
            <% end %>
            <%= link_to 'Mark as done', mark_complete_path(todo), method: 'PUT', class: 'btn btn-default btn-xs pull-right'%>
        </li>
    <% end %>
</ul>

<p>&nbsp;</p>
<div class='list-category'><%= complete_items.count %> COMPLETE</div>
<ul class="users">
    <% complete_items.each do |todo| %>
        <li>
            <%= link_to todo.subject, edit_todo_path(todo), class: 'lead', style: 'text-decoration: line-through;' %>
            <%= link_to 'Reopen', mark_incomplete_path(todo), method: 'PUT', class: 'btn btn-default btn-xs pull-right'%>
        </li>
    <% end %>

</ul>


<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script type="text/javascript">

    $(document).ready(function () {
        console.log('Setting up the page...');
        // make the new list sortable
        $("#incompleteItems").sortable({
            items: 'li',
            update: function () {
                console.log("Sending the sorted list via ajax to the server.");
                console.log('Data=' + $('#taskList').sortable('serialize'));
                $.ajax({
                    type: 'post',
                    data: $('#incompleteItems').sortable('serialize'),
                    dataType: 'script',
                    complete: function (request) {
                        console.log('Sort completed.');
                    },
                    url: '/todos/sort'
                });
            }
        });
        $("#incompleteItems").disableSelection();

    });

</script>
