<% provide(:title, 'New Todo') %>
<h1>New Todo</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for @todo do |f| %>
            <%= render 'shared/error_messages', object: f.object %>
            
            <%= f.label :subject %>
            <%= f.text_field :subject, class: 'form-control' %>
            
            <%= f.label :due_date %>
            <%= f.text_field :due_date, class: 'form-control' %>

            <%= f.label 'Status' %>
            <%= f.label 'Is Complete?', class: "checkbox inline", style: 'margin-top: 3px;' do %>
                <%= f.check_box :is_complete, style: 'width:20px;' %>
                <span>Is Complete?</span>
            <% end %>

            <%= f.submit "Save", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>

<script>
		$(function(){
			$('#todo_due_date').datepicker();
        });
</script>
